BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: true
BreakBeforeBinaryOperators: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
ColumnLimit: 79
UseTab: Always
Standard: Auto
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
