name: build

on: [push]

env:
  BUILD_TYPE: RelWithDebInfo

jobs:
  testlinux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build
    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: |
        cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE
        sed -e 's/-DNDEBUG//g' < CMakeCache.txt > CMakeCache.txt.new
        mv -- CMakeCache.txt.new CMakeCache.txt
        cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE
    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE
    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: ctest -C $BUILD_TYPE --output-on-failure

  testfreebsd:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v0.1.7
      with:
        envs: 'BUILD_TYPE'
        usesh: true
        prepare: pkg install -y cmake
        run: |
          mkdir build || exit 1
          cd build || exit 1
          cmake .. -DCMAKE_BUILD_TYPE=$BUILD_TYPE || exit 1
          sed -e 's/-DNDEBUG//g' < CMakeCache.txt > CMakeCache.txt.new || exit 1
          mv -- CMakeCache.txt.new CMakeCache.txt || exit 1
          cmake .. -DCMAKE_BUILD_TYPE=$BUILD_TYPE || exit 1
          cmake --build . --config $BUILD_TYPE || exit 1
          ctest -C $BUILD_TYPE --output-on-failure || exit 1
